@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.user__menu__button {
	width: 3rem;
	height: 3rem;
	background-color: $background;
	border-radius: 100%;
	@include flexCenter;
	@include tabFocusOutline;

	&-picture {
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
	}
}
