@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixins.scss" as *;

.main__tasks_task_controls_notification-select {
    background: $background;
    text-align: center;
    width: fit-content;
    font-size: 1rem;
    border: none;
    color: white;
    padding: 0.5rem;
    height: 70%;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $yellow-300;
    }
    @include tabFocusOutline;
}
