@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.main__title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	@include for-sizes-up-from(md) {
		font-size: 3rem;
	}
	font-weight: 900;
	text-align: center;
	cursor: default;
	position: relative;
}
