@use "../../../styles/variables.scss" as *;

.header {
	height: 4rem;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;

	&__placeholder {
		color: $foreground-placeholder;
	}

	&__nav__list {
		display: flex;
		gap: 1rem;
		align-items: center;

		&-item {
			a.active {
				color: $yellow-300;
			}
		}
	}
}
