@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;

.task_controls__menu_off {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 2rem;
    height: 2rem;
    background: $background;
    color: $white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    @include flexCenter;
    @include tabFocusOutline;

    &:hover {
        background-color: $background-active;
    }
}
