// available colors
$white: #ffffff;
$grey-100: #f2f2f2;
$grey-200: #9aa0a6;
$grey-300: #757575;
$grey-600: #303134;
$grey-900: #202124;
$black: #000000;

$yellow-100: #f9d329;
$yellow-300: #cc9419;
$yellow-600: #8e6a09;

$orange-100: #ffb337;
$orange-300: #fd9e03;
$orange-500: #fd7d01;

$teal-100: #005352;
$teal-300: #113e3c;
$teal-vinted: #007881;

// webpage colors
$background: $grey-900;
$background-active: $grey-600;

$foreground-inactive: $grey-300;
$foreground-active: $grey-100;
$foreground-placeholder: $grey-600;
