@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.main {
	padding-top: 5rem;
	@include for-sizes-up-from(md) {
		padding-top: 10rem;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	position: relative;
}
