@use "../../../styles/variables.scss" as *;

.footer {
	flex-shrink: 0;
	height: 4rem;
	padding: 1rem;
	border-top: 1px solid $background-active;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__placeholder {
		color: $foreground-placeholder;
	}
	&__vinted-link {
		color: $foreground-inactive;
	}
}
