@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.footer {
    min-height: 4rem;
    padding: 1rem 1rem;
    border-top: 1px solid $background-active;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
	gap: 0.5rem;
    flex-shrink: 0;
	@include for-sizes-up-from(xsm) {
		flex-direction: row;
		justify-content: space-between;
	}

    &__app-version {
        color: $foreground-placeholder;
    }

    &__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include for-sizes-up-from(xsm) {
			align-items: flex-end;
		}
		@include for-sizes-up-from(md) {
			flex-direction: row;
			&-email {
				margin-left: 0.5rem;
			}
		}
        &-text {
            color: $foreground-inactive;
        }

        &-email {
            color: $foreground-inactive;

            &:hover {
                color: $white;
            }
        }
    }
}
