@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles//variables.scss" as *;

.main__results_save-search__button {
    @include tabFocusOutline;
    @include buttonDefault;
    @include buttonDark;

    padding: 0.5rem 0;

    border: 1px solid $yellow-300;
    border-radius: 10px;
    padding: 0.5rem;
}
