@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.main__results_item {
	display: flex;
	gap: 1rem;

	&-description {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	&-title {
		color: $yellow-300;
		font-weight: 600;
	}

	&-url a {
		color: $grey-200;
		&:hover {
			text-decoration: underline;
		}
	}
}
