@use "./styles/reset.scss";
@use "./styles/text.scss";
@use "./styles/variables.scss" as *;

body {
	background-color: $background;
	padding: 0 2rem;
	min-width: 300px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hidden {
	display: none;
}

.page {
	min-height: calc(100vh - 8rem);
}
